@using Microsoft.AspNetCore.Mvc.Localization
@using OurHouse.Extensions

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Discover Cortelazor"];
}

<div class="container pb-3">
    <div class="row align-items-center mb-4">
        <div class="col-lg-6 image-circle image-1 border-15 border-palette-light-1"></div>
        <div class="col-lg-6 text-1 text-center">
            <h1>@Localizer["Discover Cortelazor"]</h1>
            <p>@Localizer["Discover Cortelazor Description"]</p>
        </div>
    </div>
    <div class="row align-items-center mb-4">
        <div class="col-lg-6 image-circle image-1 border-15 border-palette-light-1 order-xl-2"></div>
        <div class="col-lg-6 text-2 text-center order-xl-1">
            <h2>@Localizer["Discover Cortelazor"]</h2>
            <p>@Localizer["Discover Cortelazor Description"]</p>
        </div>
    </div>
    <div class="row align-items-center mb-4">
        <div class="col-lg-6 image-circle image-1 border-15 border-palette-light-1"></div>
        <div class="col-lg-6 text-3 text-center">
            <h2>@Localizer["Discover Cortelazor"]</h2>
            <p>@Localizer["Discover Cortelazor Description"]</p>
        </div>
    </div>
</div>