@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Our house"];
}

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://www.evaristocuesta.es/fotos-paisajes-naturaleza/paisajesnaturaleza05.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="https://www.evaristocuesta.es/fotos-paisajes-naturaleza/paisajesnaturaleza16.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="https://www.evaristocuesta.es/fotos-paisajes-naturaleza/paisajesnaturaleza17.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="https://www.evaristocuesta.es/fotos-paisajes-naturaleza/paisajesnaturaleza28.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="https://www.evaristocuesta.es/fotos-paisajes-naturaleza/paisajesnaturaleza13.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="https://www.evaristocuesta.es/fotos-paisajes-naturaleza/paisajesnaturaleza25.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="https://www.evaristocuesta.es/fotos-paisajes-naturaleza/paisajesnaturaleza23.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="https://www.evaristocuesta.es/fotos-paisajes-naturaleza/paisajesnaturaleza12.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="https://www.evaristocuesta.es/fotos-paisajes-naturaleza/paisajesnaturaleza10.jpg" />
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>

<div class="container pb-3">
    <div class="row align-items-center mb-4">
        <div class="col-lg-6 image-circle image-1 border-15 border-palette-light-1"></div>
        <div class="col-lg-6 text-1 text-center">
            <h1>@Localizer["The Space"]</h1>
            <p>@Localizer["The Space Description"]</p>
        </div>
    </div>
    <div class="row align-items-center mb-4">
        <div class="col-lg-6 image-circle image-1 border-15 border-palette-light-1 order-xl-2"></div>
        <div class="col-lg-6 text-2 text-center order-xl-1">
            <h2>@Localizer["Amenities"]</h2>
            <p>@Localizer["Amenities Description"]</p>
        </div>
    </div>
    <div class="row align-items-center mb-4">
        <div class="col-lg-6 image-circle image-1 border-15 border-palette-light-1"></div>
        <div class="col-lg-6 text-3 text-center">
            <h2>@Localizer["Other Highlights"]</h2>
            <p>@Localizer["Other Highlights Description"]</p>
        </div>
    </div>
</div>