@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using OurHouse.Extensions

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Casa Espejo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OurHouse.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar bg-body-tertiary navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.RouteUrlLang("Index", ViewContext.RouteData.Values["lang"]?.ToString())">casa espejo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Casa Espejo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.RouteUrlLang("Index", ViewContext.RouteData.Values["lang"]?.ToString())">@Localizer["Home"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.RouteUrlLang("OurHouse", ViewContext.RouteData.Values["lang"]?.ToString())">@Localizer["Our house"]</a>
                            </li>
                        </ul>
                        <hr />
                        <div>
                            @Localizer["Languages"]:
                            <a id="lang-es"
                               href="@Url.RouteUrlLang(ViewContext.RouteData.Values["action"]?.ToString(), "es")">
                                Español
                            </a> -
                            <a id="lang-en"
                               href="@Url.RouteUrlLang(ViewContext.RouteData.Values["action"]?.ToString(), "en")">
                                English
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <div class="row">
                <div class="footer-top col-sm-12">
                    <p class="logo">
                        <a href="@Url.RouteUrlLang("Index", ViewContext.RouteData.Values["lang"]?.ToString())">
                            <i class="fas fa-paw"></i>
                        </a>
                    </p>
                </div>

                <div class="footer-left col-sm-12 col-md-4">
                    <p><a href="@Url.RouteUrlLang("Index", ViewContext.RouteData.Values["lang"]?.ToString())">Casa Espejo</a></p>
                    <p>Calle España nº 10</p>
                    <p>21208 Cortelazor, Huelva</p>
                </div>

                <div class="footer-center col-sm-12 col-md-4">
                    <p class="logo">
                        <a href="@Url.RouteUrlLang("Index", ViewContext.RouteData.Values["lang"]?.ToString())">
                            <i class="fas fa-paw"></i>
                        </a>
                    </p>
                    <p><a href="@Url.RouteUrlLang("Index", ViewContext.RouteData.Values["lang"]?.ToString())">Casa Espejo &copy; 2024</a></p>
                </div>

                <div class="footer-right col-sm-12 col-md-4">
                    <p class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/evaristocuesta/" title="Instagram Casa Espejo" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="social-icon" href="https://www.linkedin.com/in/evaristocuesta/" title="Facebook Casa Espejo" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a class="social-icon" href="mailto:correo@correo.com" title="Email Casa Espejo">
                            <i class="far fa-envelope"></i>
                        </a>
                        <a class="social-icon" href="tel:+34 666 66 66 66" title="Phone Casa Espejo">
                            <i class="fas fa-phone"></i>
                        </a>
                    </p>
                    <p>@Localizer["Developed by"] <a href="https://www.evaristocuesta.com" target="_blank">Evaristo Cuesta</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
